<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modifier une vidéo</title>
</head>
<body>
<h1>Modifier la vidéo</h1>
<form th:action="@{/videos/update/{id}(id=${video.getId()})}" th:object="${video}" method="post">
  <label>Nom: <input type="text" th:field="*{name}" /></label><br>
  <label>URL: <input type="text" th:field="*{url}" /></label><br>
  <label>Description: <input type="text" th:field="*{description}" /></label><br>
  <button type="submit">Enregistrer</button>
</form>
</body>
</html>
